name: Build RPM & Release

on:
  push:
    paths:
      - 'SPECS/**'
      - 'SOURCES/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  job:
    runs-on: ubuntu-latest
    container: fedora:${{ github.ref_name }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          dnf install -y rpmdevtools rpm-sign createrepo_c

      - name: Import GPG Private Key
        uses: crazy-max/ghaction-import-gpg@v5
        id: gpg
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Configure RPM Macros
        run: |
          cat > ~/.rpmmacros <<EOF
          %vendor GitHub (${{ github.repository }})
          # Different with "github.workspace" in container environment
          %_topdir ${GITHUB_WORKSPACE}
          %_openpgp_sign_id ${{ steps.gpg.outputs.keyid }}
          EOF

      - name: Build & Sign RPM Packages
        run: |
          dnf builddep -y SPECS/*.spec
          spectool --get-files --sourcedir SPECS/*.spec
          rpmbuild -ba SPECS/*.spec
          rpmsign --addsign RPMS/*/*

      - name: Check and Prepare Release
        id: vars
        run: |
          echo "version=$(rpm -q --queryformat="%{VERSION}-%{RELEASE}" kernel-devel)" >> $GITHUB_OUTPUT
          cat leaves.list

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.vars.outputs.version }}
          files: RPMS/*/*

      - name: Setup OSS Utility
        uses: yizhoumo/setup-ossutil@v2
        with:
          ossutil-version: "latest"
          endpoint: ${{ secrets.END_POINT }}
          access-key-id: ${{ secrets.ACCESSKEY_ID }}
          access-key-secret: ${{ secrets.ACCESSKEY_SECRET }}

      - name: Create Repository
        run: |
          mkdir -p REPO
          cd $_
          ln -srf ../RPMS repo

          . /etc/os-release

          ossutil sync "oss://${{ secrets.OSS_BUCKET }}/${ID}-${VERSION_ID}/repodata/" repodata/ --force --delete

          createrepo_c --update \
            --distro="cpe:/o:fedoraproject:${ID}:${VERSION_ID},${NAME} ${VERSION_ID}" \
            --content="region=cn" \
            --repo="vendor=GitHub (${{ github.repository }}),visibility=internal" \
            --revision="$(date +%Y%m%d.%H%M)" \
            -v .

          gpg --batch --yes \
              --local-user "${{ steps.gpg.outputs.keyid }}" \
              --armor --detach-sign repodata/repomd.xml

          ossutil sync repo/ "oss://${{ secrets.OSS_BUCKET }}/${ID}-${VERSION_ID}/repo/" --force --update
          ossutil sync repodata/ "oss://${{ secrets.OSS_BUCKET }}/${ID}-${VERSION_ID}/repodata/" --force --delete

          gpg --batch --yes --armor --export "${{ steps.gpg.outputs.keyid }}" > pubkey.gpg
          ossutil cp pubkey.gpg "oss://${{ secrets.OSS_BUCKET }}/${ID}-${VERSION_ID}/pubkey.gpg" --force
